* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    /*padding: 0;*/
}
:root {
    /* color scheme used in the page layout */
    /* main color 'navy blue', used in Overlays Shadows Headings*/    
    --main-color: #2E2F42;
    /* success color 'green': Valid fields, Success messages*/
    --success-color: #31D0AA;
    /* body text color 'slate' */
    --primary-text: #434455;
    /* 'light slate': Helper text, Deemphasized text*/
    --subtle-text: #8E8F99;
    /* accent color 'cornflower': Hairlines, Subtle backgrounds */ 
    --accent: #E7E9FC;

    /* background colors 'white': Header,  team card background*/
    --white-bg: #f  fffff;
    /*light mode backgrounds color 'cloud' Light mode backgrounds, Light mode Dialogs/alerts*/
    --light-mode-bg: #F4F4FD;
    --subtle-bg: var(--accent);

    /* modal color 'navy blue modal': Overlay*/
    --modal-overlay: #2E2F42;
    --hero-img-bg: #2E2F42;
    /* modal background 'dairy'*/
    --modal-bg: #FCFCFC;

    /* brand color: used in CTAs, Focused, Active states, Links*/
    --primary-brand: #4d5ae5;
    --pressed-state: #404BBF;
    
    --logo-dark-theme: var(--main-color);
    --logo-light-theme: var(--light-mode-bg);  
}

body {
    /* body typography */   
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455; /*var(--primary-text);*/
    background-color: #FFFFFF; /*var(--light-mode-bg); */
}

.link {
    cursor: pointer;
}

.link:hover,
.link:focus {
    color: #404bbf; /*var(--pressed-state)*/
}

/* HEADER STYLES: nav, logo, menu, contacts*/
/*.nav {}*/

/* class logo + light and dark theme */
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; /*var(--primary-brand);*/
}
.logo--dark-theme {color: #2e2f42; /*var(--logo-dark-theme);*/}
.logo--light-theme {color: #F4F4FD; /*var(--logo-light-theme);*/}

.logo .link:focus,
.logo .link:hover{
    color: #404bbf; /*var(--pressed-state)*/
}

/* menu styles*/
.menu .link{
        color: #2e2f42; /*var(--main-color);*/
}
.menu .link:focus,
.menu .link:hover{
    color: #404bbf; /*var(--pressed-state)*/
}

/* address styles */
.contact{
    font-style: normal;
}
.contact .link{
    color: #434455; /*var(--primary-text)*/
}
.contact .link:focus,
.contact .link:hover{
    color: #404bbf; /*var(--pressed-state)*/
}

/* ----- MAIN PAGE ----- */
/* ----- main page specyfic styles  ----------------------------*/
/* Block section classes: __bg-(dark, white, light) color-theme; __header-(h1, h2, h3, hidden)
*/


.background--dark{
    background-color: #2E2F42;
}
.background--white{
    background-color: #FFFFFF;
}
.background--light{
    background-color: #F4F4FD;
}

.header1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.header2{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42; /* var(--main-color);*/
}
.header3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42; /* var(--main-color);*/
}
.text-align-center{
    text-align: center;
    text-transform: capitalize;
}
/* 1st  SECTION ORDER: bg dark theme , h1 header, btn order*/
.section__btn{
    cursor: pointer;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.section__btn:hover,
.section__btn:focus{
    background-color: #404BBF; /*var(--pressed-state)*/
}
/* */
/* 2nd section advantages: bg white, sec header h2, */
/*  */
/* footer styles: bg dark, text light */
.footer{
    background-color: #2E2F42; /*var(--primary-color)*/
}
.footer__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0,02em;
    color:#F4F4FD; /*var(--light-mode-bg) */
}