/* ---------------   global styles, common to the entire html tree, */
/** {
    margin: 0;
    padding: 0;
}*/
:root {
    /*content colors used in the page layout */
     
    --main-color-black : rgb(33, 33, 33,1);
    --second-color-dark-grey: rgb(117, 117, 117);
    --main-color-on-dark-bg-white: rgba(255, 255, 255, 1);
    --second-color-dark-bg-white-06a: rgba(255, 255, 255, 0.6); 
    
    /* brand color is blue rgb(33, 150, 243), used to: hovered links, button, */
    --brand-color-blue: rgb(33, 150, 243);
    
    --logotype-on-light-bg-black: rgb(0, 0, 0);
    --logotype-on-dark-bg-white: rgb(255, 255, 255);
    
     /*background colors used in the page layout*/

    --portfolio-button-bg-color: rgba(245, 244, 250, 1);
    
    /*background colors*/
    --main-bg-color-white: rgb(255, 255, 255);
    --second-bg-color-white: rgb(245, 244, 250);

    --dark-bg-color-black1: rgb(47, 48, 58);

    --border-color-white1: rgb(238, 238, 238);
    --border-color-white2: rgb(236, 236, 236);
    
}

body {
    height: auto;
    width: 1600px;
    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
    color: var(--main-color-black);
    /*-- color changed - fix before deploy-- 
    var(--main-bg-color-white)--*/
    background-color: greenyellow;
    border: 1px dashed green;    
}
ul {margin-block: 0px;}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: blue;    
}
    
/*---> header styles: menu <----*/
.menu {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    
    width: 1600px;
    height: 80px;
    /*padding: 25px 227px 25px 215px;*/
    /*padding-top: 24px;*/
    padding-left: 215px;
    background-color:var(--main-bg-color-white);
 
    border-bottom: 1px solid var(--border-color-white2);
    
    
    font-size: 14px;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    
    }
.logo {
    background-color: aqua;
}
/* ------------   logotype classes + on light background, + on dark background ---------------*/
.logotype{
    text-decoration: none;
    font-family: Raleway, Oleo Script, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    /*text-align: left;*/
}
.logotype--brand-color {color: var(--brand-color-blue);}
.logotype--on-light-bg {color: var(--logotype-on-light-bg-black);}
.logotype--on-dark-bg {color: var(--logotype-on-dark-bg-white);}

.nav {
    margin-left: 93px;
    margin-right: 371px;
    padding: 0px;
    background-color: aquamarine;
}
.nav__items {
    display: flex;   
    justify-content: space-between;
    
    min-width: 254px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;

    list-style-type: none;
    color: var(--main-color-black); 
    /*background-color: aqua;*/
}
.nav__link {
    text-decoration: none;
    cursor: pointer;
    color: var(--main-color-black);
    /*background-color: aquamarine;*/
}

.contact {
   background-color: bisque;
}
.contact__items {
    display: flex;   
    justify-content: space-between;
    min-width: 295px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    
    

    list-style-type: none;
    color: var(--second-color-dark-grey);
}
.contact__link {
    text-decoration: none;
    cursor: pointer;
    color: var(--second-color-dark-grey);
}
.link {text-decoration: none;
    cursor: pointer;
}
.link:hover,
.link:focus {
    color: var(--brand-color-blue);
}

/*footer styles: dark background */
.footer {
    width: 1600px;
    padding: 60px 215px;
    background-color: var(--dark-bg-color-black1);
    color: var(--main-color-on-dark-bg-white);
    }
.address__link { color: var(--second-color-dark-bg-white-06a);}

.address-container {
    text-decoration: none;
    margin-top: 20px;
    background-color:rgb(0, 0, 0);
   
    font-size: 14px;
    font-style: normal;
    
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--main-color-on-dark-bg-white); 
}


/*--------------  main page specyfic styles  ----------------------------*/

.header__banner {
    width: inherit;
    height: 600px;
    background-color: var(--dark-bg-color-black1);
}
.header__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;   
}
.header__slogan {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--main-color-on-dark-bg-white);
    margin: 0px;
}
.header__button {
    width: 200px;
    height: 50px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    background: var(--brand-color-blue);
   
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    color: var(--main-color-on-dark-bg-white);
    cursor: pointer;
}

.feature {
    display: flex;
    justify-content: space-evenly;
    
    list-style: none;
    margin: 0px;
    padding: 0px;

    /*position: absolute;    width: 270px;
    height: 101px;
    left: 215px;
    top: 774px;*/
}
.feature__item {
    width: 270px;
}
.feature__name {
    /*font-family: Roboto;*/
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align:left;

    margin: 0px;
    margin-bottom: 10px;
}
.feature__description { 
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    text-align: left;

    margin: 10px 0px;

    color: var(--second-color-dark-grey);
}

.gallery {
    list-style-type: none;
    
    margin: 0px 0px;
    padding: 0px;

    display: flex;
    justify-content: space-evenly;
}
.gallery__item {
    max-width: 370px;
    height: 294px;
    margin: 0px;
}
.gallery__name {
    min-width: 352px;
    min-height: 42px;
    
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.team-section {
    width: auto;
    height: auto;
    background-color: var(--second-bg-color-white);
}
.team-section__name {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;

    min-width: 352px;
    min-height: 42px;
    
    
}
.team-cards { 
    list-style-type: none;
    
    margin: 0px 0px;
    padding: 0px;
    
    display: flex;
    justify-content: space-evenly;
}
.team-card {
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;

    margin: 0px;

    background: var(--main-bg-color-white);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-card__caption{
    width: auto;
    height: auto;
        
}
.team-card__name {
    /*font-family: Roboto;*/
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    
}
.team-card__description {
    font-size: 16px;
/*font-weight: 400;*/
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;

    color: var(--second-color-dark-grey);
}

/*----------------------------------------------------------*/
/* ---------------------  portfolio page specyfic styles */
.portfolio-gallery {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color-black);
    background-color: var(--main-bg-color-white);
    
}
ul {
    padding-inline-start: 0p;
    background-color: chocolate;
}
.portfolio__filter {
    list-style-type: none;
    padding-inline-start: 0px;
    
    display: flex;
    justify-content: center;
    gap: 0px 8px;
    padding-bottom: 50px;
    
}
.portfolio__filter-btn{
    
    border-style: none;
    border-radius: 4px;
    padding: 6px 22px;
    
    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;

    color: var(--main-color-black);
    background-color: var(--second-bg-color-white);
    cursor: pointer;
}
.portfolio__filter-btn:hover,
.portfolio__filter-btn:focus {
    
    background-color: var(--brand-color-blue);
    color: var(--main-color-on-dark-bg-white);
    /* shadow-middle */
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    

}
.portfolio-cards {
    list-style-type:none;
    display: flex;
    justify-content:space-between;
    padding: 15px;
    flex-wrap: wrap;
    gap: 40px 30px;

    background-color: brown;  
}
.portfolio-card {
    
    width: 370px;
    border-radius: 5px;
    margin: 0px;   
}
.portfolio-card__caption {
    width: 370px;
    margin: 0px;
    padding: 10px;

    border-left: 1px solid var(--border-color-white2);
    border-right: 1px solid var(--border-color-white2);
    border-bottom: 1px solid var(--border-color-white2);
}
.portfolio-card__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--primary-color);
    margin: 0px;
}
.portfolio-card__label {
    margin: 0px;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--second-color-dark-grey);
}
